@page
@model GVC.Web.Pages.Vendedores.IndexModel
@{ViewData["Title"]="Vendedores";}
<div class="d-flex justify-content-between mb-3">
    <h1>
        Vendedores
    </h1>
    <a asp-page="Create" class="btn btn-primary">
        Novo vendedor
    </a>
</div>
<div class="card table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    CPF
                </th>
                <th>
                    Telefone
                </th>
                <th>
                    Comissão
                </th>
                <th>
                    Status
                </th>
                <th class="text-end">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var x in Model.Itens){
            <tr>
                <td>
                    @x.Nome
                </td>
                <td>
                    @x.Cpf
                </td>
                <td>
                    @x.Telefone
                </td>
                <td>
                    @x.Comissao?.ToString("N2")%
                </td>
                <td>
                    @(x.Status==1?"Ativo":"Inativo")
                </td>
                <td class="text-end">
                    <a asp-page="Edit" asp-route-id="@x.VendedorId" class="btn btn-sm btn-outline-primary">
                        Alterar
                    </a>
                    <form method="post" asp-page-handler="Excluir" asp-route-id="@x.VendedorId" class="d-inline" onsubmit="return confirm('Excluir este vendedor?')">
                        <button class="btn btn-sm btn-outline-danger">
                            Excluir
                        </button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
